# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg-info/
dist/
build/

# Виртуальное окружение
venv/
.venv/
env/

# База данных
*.db
*.sqlite3

# Секреты
.env

# Кеш миниатюр
cache/

# PyCharm
.idea/

# Windows
Thumbs.db
desktop.ini

# Логи
*.log